<header class="sticky top-0 left-0 w-full py-1 px-2 bg-(--nav-bg) text-(--nav-text) flex justify-between text-2xl">

  <h1><a href="https://areebuzair.github.io" target="_blank">J. M Areeb Uzair</a></h1>
  <button (click)="menu_open(true)"><ng-icon name="matMenu" size="24" color="currentColor"></ng-icon></button>

</header>

@if (menuIsOpen()) {
<nav class="fixed top-0 right-0 h-full bg-(--nav-bg) text-(--nav-text) py-4 pl-4 pr-6 w-64 max-w-full overflow-y-auto text-2xl">
  <ul>
    <li class="text-right"><button (click)="menu_open(false)"><ng-icon name="matClose" size="24" color="currentColor"></ng-icon></button></li>
    @for (item of menuItems; track item.url) {
    <li>
      <a [routerLink]="item.url" (click)="menu_open(false)">{{ item.label }}</a>
    </li>
    }
    <li><app-color-picker /></li>
  </ul>
</nav>
}

<main class="container mx-auto px-2">
  <router-outlet />
</main>